In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

bmw_data_set = pd.read_csv('../../../datasets/BMW sales data (2010-2024).csv')
bmw_data_set

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low
...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low

In [2]:
X = bmw_data_set
y = X.Price_USD
X.drop(columns=['Price_USD'], inplace=True)
X_train, X_test, y_train, y_test = train_test_split(
    X, 
    y,
    train_size=0.60,
    random_state=42
)
X_test, X_val, y_test, y_val = train_test_split(
    X_test,
    y_test,
    train_size=0.5,
    random_state=42
)
bmw_data_set_train = pd.concat([X_train, y_train], axis=1)
bmw_data_set_train

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Sales_Volume,Sales_Classification,Price_USD
18306,X3,2013,Asia,Silver,Hybrid,Manual,2.6,140438,3710,Low,41743
49528,5 Series,2014,Europe,Black,Electric,Manual,4.4,82749,6119,Low,112481
44745,3 Series,2011,Middle East,Red,Hybrid,Manual,3.9,168621,6500,Low,89312
46827,X3,2011,Africa,Blue,Hybrid,Manual,3.7,2885,8321,High,113776
27531,7 Series,2021,Middle East,Grey,Electric,Manual,4.7,130807,6878,Low,88939
...,...,...,...,...,...,...,...,...,...,...,...
11284,X5,2011,Africa,Grey,Electric,Automatic,4.1,6967,8008,High,54853
44732,M5,2016,South America,Black,Petrol,Manual,1.9,150464,3373,Low,30430
38158,X6,2019,Asia,Red,Electric,Automatic,3.3,142419,4575,Low,119997
860,X6,2018,North America,Grey,Diesel,Automatic,4.0,110555,5061,Low,107478
15795,i8,2019,South America,Black,Petrol,Manual,4.7,41614,5903,Low,83121

In [3]:
pd.options.display.max_rows = 20
bmw_data_year_model = bmw_data_set_train.groupby(by=['Year', 'Model'])
bmw_data_year_model.Price_USD.agg(['mean', 'max', 'min'])

                       mean     max    min
Year Model
2010 3 Series  75659.194872  119524  30250
     5 Series  73680.136612  119810  30213
     7 Series  77874.070588  119978  30832
     M3        74914.768786  119943  30300
     M5        73065.632979  119178  30139
...                     ...     ...    ...
2024 X3        77584.773196  119691  30109
     X5        73362.496774  119048  30447
     X6        74092.678049  119706  30433
     i3        74556.037433  118841  30067
     i8        76774.572193  119997  30246

[165 rows x 3 columns]

In [4]:
bmw_data_year_model_price_mean = bmw_data_year_model.Price_USD.mean()
bmw_data_year_model_price_mean_df = bmw_data_year_model_price_mean.to_frame()
bmw_data_year_model_price_mean_df = bmw_data_year_model_price_mean_df.reset_index()
bmw_data_year_model_price_mean_df

     Year     Model     Price_USD
0    2010  3 Series  75659.194872
1    2010  5 Series  73680.136612
2    2010  7 Series  77874.070588
3    2010        M3  74914.768786
4    2010        M5  73065.632979
..    ...       ...           ...
160  2024        X3  77584.773196
161  2024        X5  73362.496774
162  2024        X6  74092.678049
163  2024        i3  74556.037433
164  2024        i8  76774.572193

[165 rows x 3 columns]

In [5]:
bmw_data_year_model_price_mean_df.columns

Index(['Year', 'Model', 'Price_USD'], dtype='object')

In [6]:
max_price = np.argmax(bmw_data_year_model_price_mean_df['Price_USD'])
bmw_data_year_model_price_mean_df.loc[max_price]

Year                 2014
Model                  X1
Price_USD    79710.017143
Name: 49, dtype: object

In [7]:
min_price = np.argmin(bmw_data_year_model_price_mean_df['Price_USD'])
bmw_data_year_model_price_mean_df.loc[min_price]

Year                 2010
Model                  X6
Price_USD    70083.931429
Name: 8, dtype: object

In [8]:
models_expensive = []
for year in bmw_data_year_model_price_mean_df.Year.unique():
    bmw_data_year_df = bmw_data_year_model_price_mean_df[bmw_data_year_model_price_mean_df['Year'] == year]
    bmw_data_year_max_idx = np.argmax(bmw_data_year_df.Price_USD)
    print(f"{bmw_data_year_df.iloc[bmw_data_year_max_idx]}")
    models_expensive.append(bmw_data_year_df.iloc[bmw_data_year_max_idx]['Model'])
    print("")
print(f"Most expensive models: {models_expensive}")

Year                 2010
Model                  i3
Price_USD    78100.570652
Name: 9, dtype: object

Year                 2011
Model                  i8
Price_USD    77786.552486
Name: 21, dtype: object

Year                 2012
Model                  i8
Price_USD    78590.789744
Name: 32, dtype: object

Year                 2013
Model            7 Series
Price_USD    77064.883249
Name: 35, dtype: object

Year                 2014
Model                  X1
Price_USD    79710.017143
Name: 49, dtype: object

Year                 2015
Model                  i3
Price_USD    76150.715686
Name: 64, dtype: object

Year                 2016
Model            5 Series
Price_USD    77451.184332
Name: 67, dtype: object

Year                 2017
Model                  X5
Price_USD    77523.823834
Name: 84, dtype: object

Year                 2018
Model                  X5
Price_USD    78037.839378
Name: 95, dtype: object

Year                 2019
Model            7 Series
Price_USD    78977.223529
Name: 101, dtype: object

Year                 2020
Model            3 Series
Price_USD    76983.609626
Name: 110, dtype: object

Year                 2021
Model                  X3
Price_USD    77816.686486
Name: 127, dtype: object

Year                 2022
Model                  M5
Price_USD    76536.723757
Name: 136, dtype: object

Year                 2023
Model                  M3
Price_USD    78922.810945
Name: 146, dtype: object

Year                 2024
Model                  X1
Price_USD    78788.338798
Name: 159, dtype: object

Most expensive models: ['i3', 'i8', 'i8', '7 Series', 'X1', 'i3', '5 Series', 'X5', 'X5', '7 Series', '3 Series', 'X3', 'M5', 'M3', 'X1']

In [9]:
models_cheapest = []
for year in bmw_data_year_model_price_mean_df.Year.unique():
    bmw_data_year_df = bmw_data_year_model_price_mean_df[bmw_data_year_model_price_mean_df['Year'] == year]
    bmw_data_year_min_idx = np.argmin(bmw_data_year_df.Price_USD)
    print(f"{bmw_data_year_df.iloc[bmw_data_year_min_idx]}")
    models_cheapest.append(bmw_data_year_df.iloc[bmw_data_year_min_idx]['Model'])
    print("")
print(f"Cheapest models: {models_cheapest}")

Year                 2010
Model                  X6
Price_USD    70083.931429
Name: 8, dtype: object

Year               2011
Model                X6
Price_USD    73547.5875
Name: 19, dtype: object

Year                 2012
Model                  X6
Price_USD    72597.680723
Name: 30, dtype: object

Year                 2013
Model                  X6
Price_USD    71477.301676
Name: 41, dtype: object

Year                 2014
Model                  X3
Price_USD    71463.764368
Name: 50, dtype: object

Year                2015
Model                 i8
Price_USD    71003.40107
Name: 65, dtype: object

Year                2016
Model                 X6
Price_USD    73630.02027
Name: 74, dtype: object

Year                 2017
Model                  M3
Price_USD    73322.682635
Name: 80, dtype: object

Year                 2018
Model                  X6
Price_USD    72292.795699
Name: 96, dtype: object

Year                 2019
Model            5 Series
Price_USD    73074.397906
Name: 100, dtype: object

Year             2020
Model        7 Series
Price_USD     72387.6
Name: 112, dtype: object

Year                 2021
Model            7 Series
Price_USD    72765.852217
Name: 123, dtype: object

Year                 2022
Model                  X3
Price_USD    71651.126214
Name: 138, dtype: object

Year                 2023
Model                  X6
Price_USD    71652.287293
Name: 151, dtype: object

Year                 2024
Model                  M5
Price_USD    72255.634409
Name: 158, dtype: object

Cheapest models: ['X6', 'X6', 'X6', 'X6', 'X3', 'i8', 'X6', 'M3', 'X6', '5 Series', '7 Series', '7 Series', 'X3', 'X6', 'M5']

In [10]:
print(f"Most expensive models: {models_expensive}")
print(f"Cheapest models: {models_cheapest}")

Most expensive models: ['i3', 'i8', 'i8', '7 Series', 'X1', 'i3', '5 Series', 'X5', 'X5', '7 Series', '3 Series', 'X3', 'M5', 'M3', 'X1']
Cheapest models: ['X6', 'X6', 'X6', 'X6', 'X3', 'i8', 'X6', 'M3', 'X6', '5 Series', '7 Series', '7 Series', 'X3', 'X6', 'M5']

In [17]:
models_expensive_and_cheapeast = np.intersect1d(models_expensive, models_cheapest)
models_expensive_and_cheapeast

array(['5 Series', '7 Series', 'M3', 'M5', 'X3', 'i8'], dtype='<U8')

In [15]:
print("Models just expensive")
[model for model in models_expensive if model not in models_expensive_and_cheapeast]

Models just expensive

['i3', 'X1', 'i3', 'X5', 'X5', '3 Series', 'X1']

In [16]:
print("Models just cheap")
[model for model in models_cheapest if model not in models_expensive_and_cheapeast]

Models just cheap

['X6', 'X6', 'X6', 'X6', 'X6', 'X6', 'X6']

In [12]:
print(f"Price max - min difference")
for year in bmw_data_year_model_price_mean_df.Year.unique():
    bmw_data_year_df = bmw_data_year_model_price_mean_df[bmw_data_year_model_price_mean_df['Year'] == year]
    bmw_data_year_max_idx = np.argmax(bmw_data_year_df.Price_USD)
    bmw_data_year_min_idx = np.argmin(bmw_data_year_df.Price_USD)
    price_diff = bmw_data_year_df.iloc[bmw_data_year_max_idx]['Price_USD'] - bmw_data_year_df.iloc[bmw_data_year_min_idx]['Price_USD'] 
    print(f"Year: {year} / Difference: {price_diff:.2f}")
    print("")

Price max - min difference
Year: 2010 / Difference: 8016.64

Year: 2011 / Difference: 4238.96

Year: 2012 / Difference: 5993.11

Year: 2013 / Difference: 5587.58

Year: 2014 / Difference: 8246.25

Year: 2015 / Difference: 5147.31

Year: 2016 / Difference: 3821.16

Year: 2017 / Difference: 4201.14

Year: 2018 / Difference: 5745.04

Year: 2019 / Difference: 5902.83

Year: 2020 / Difference: 4596.01

Year: 2021 / Difference: 5050.83

Year: 2022 / Difference: 4885.60

Year: 2023 / Difference: 7270.52

Year: 2024 / Difference: 6532.70

In [13]:
bmw_data_model_year = bmw_data_set_train.groupby(by=['Model', 'Year'])
bmw_data_model_year_price_mean = bmw_data_model_year.Price_USD.mean()
bmw_data_model_year_price_mean =bmw_data_model_year_price_mean.to_frame().reset_index()
price_model_max = np.argmax(bmw_data_model_year_price_mean['Price_USD'])
bmw_data_model_year_price_mean.loc[price_model_max]

Model                  X1
Year                 2014
Price_USD    79710.017143
Name: 79, dtype: object