In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
import numpy as np

bmw_data_set = pd.read_csv('../../../../datasets/BMW sales data (2010-2024).csv')
bmw_data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

In [2]:
cat_cols_low_cardinality = [col for col in bmw_data_set.columns if bmw_data_set[col].dtype == 'object'
                          and len(bmw_data_set[col].unique()) <= 2]
cat_cols_low_cardinality

['Transmission', 'Sales_Classification']

In [3]:
ordinal_encoder = OrdinalEncoder(dtype=np.int64)
bmw_data_set[cat_cols_low_cardinality] = ordinal_encoder.fit_transform(bmw_data_set[cat_cols_low_cardinality])
bmw_data_set

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,1,3.5,151748,98740,8300,0
1,i8,2013,North America,Red,Hybrid,0,1.6,121671,79219,3428,1
2,5 Series,2022,North America,Blue,Petrol,0,4.5,10991,113265,6994,1
3,X3,2024,Middle East,Blue,Petrol,0,1.7,27255,60971,4047,1
4,7 Series,2020,South America,Black,Diesel,1,2.1,122131,49898,3080,1
...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,1,4.6,151030,42932,8182,0
49996,i3,2023,Middle East,Silver,Electric,1,4.2,147396,48714,9816,0
49997,5 Series,2010,Middle East,Red,Petrol,0,4.5,174939,46126,8280,0
49998,i3,2020,Asia,White,Electric,0,3.8,3379,58566,9486,0
49999,X1,2020,North America,Blue,Diesel,1,3.3,171003,77492,1764,1

In [4]:
bmw_data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  int64
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  int64
dtypes: float64(1), int64(6), object(4)
memory usage: 4.2+ MB

In [5]:
cat_cols_high_cardinality = [col for col in bmw_data_set.columns if bmw_data_set[col].dtype == 'object'
                            and len(bmw_data_set[col].unique()) > 2]
cat_cols_high_cardinality

['Model', 'Region', 'Color', 'Fuel_Type']

In [6]:
one_hot_encoder = OneHotEncoder(dtype=np.int64, sparse_output=False)
one_hot_encoded_cat_high_cardinality = pd.DataFrame(one_hot_encoder.fit_transform(bmw_data_set[cat_cols_high_cardinality]))
one_hot_encoded_cat_high_cardinality.columns = one_hot_encoder.get_feature_names_out()
one_hot_encoded_cat_high_cardinality

,Model_3 Series,Model_5 Series,Model_7 Series,Model_M3,Model_M5,Model_X1,Model_X3,Model_X5,Model_X6,Model_i3,...,Color_Black,Color_Blue,Color_Grey,Color_Red,Color_Silver,Color_White,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Hybrid,Fuel_Type_Petrol
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0
49996,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0
49997,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
49998,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,1,0,0
49999,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [7]:
data_set_num_cols = bmw_data_set.drop(cat_cols_high_cardinality, axis=1)
data_set_num_cols

,Year,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,2016,1,3.5,151748,98740,8300,0
1,2013,0,1.6,121671,79219,3428,1
2,2022,0,4.5,10991,113265,6994,1
3,2024,0,1.7,27255,60971,4047,1
4,2020,1,2.1,122131,49898,3080,1
...,...,...,...,...,...,...,...
49995,2014,1,4.6,151030,42932,8182,0
49996,2023,1,4.2,147396,48714,9816,0
49997,2010,0,4.5,174939,46126,8280,0
49998,2020,0,3.8,3379,58566,9486,0
49999,2020,1,3.3,171003,77492,1764,1

In [8]:
bmw_encoded_data_set = pd.concat([data_set_num_cols, one_hot_encoded_cat_high_cardinality], axis=1)
bmw_encoded_data_set

,Year,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Model_3 Series,Model_5 Series,Model_7 Series,...,Color_Black,Color_Blue,Color_Grey,Color_Red,Color_Silver,Color_White,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Hybrid,Fuel_Type_Petrol
0,2016,1,3.5,151748,98740,8300,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
1,2013,0,1.6,121671,79219,3428,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,2022,0,4.5,10991,113265,6994,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
3,2024,0,1.7,27255,60971,4047,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,2020,1,2.1,122131,49898,3080,1,0,0,1,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2014,1,4.6,151030,42932,8182,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
49996,2023,1,4.2,147396,48714,9816,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
49997,2010,0,4.5,174939,46126,8280,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
49998,2020,0,3.8,3379,58566,9486,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
49999,2020,1,3.3,171003,77492,1764,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0