In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

diabetes_data_set = pd.read_csv('../../../datasets/Diabetes_and_LifeStyle_Dataset.csv')
diabetes_data_set

,Age,gender,ethnicity,education_level,income_level,employment_status,smoking_status,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,...,hdl_cholesterol,ldl_cholesterol,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diabetes_risk_score,diabetes_stage,diagnosed_diabetes
0,58,Male,Asian,Highschool,Lower-Middle,Employed,Never,0,215,5.7,...,41,160,145,136,236,6.36,8.18,29.6,Type 2,1
1,52,Female,White,Highschool,Middle,Employed,Former,1,143,6.7,...,55,50,30,93,150,2.00,5.63,23.0,No Diabetes,0
2,60,Male,Hispanic,Highschool,Middle,Unemployed,Never,1,57,6.4,...,66,99,36,118,195,5.07,7.51,44.7,Type 2,1
3,74,Female,Black,Highschool,Low,Retired,Never,0,49,3.4,...,50,79,140,139,253,5.28,9.03,38.2,Type 2,1
4,46,Male,White,Graduate,Middle,Retired,Never,1,109,7.2,...,52,125,160,137,184,12.74,7.20,23.5,Type 2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97292,46,Male,Other,Graduate,Upper-Middle,Unemployed,Former,1,136,8.3,...,45,150,116,113,109,14.58,5.55,26.0,Pre-Diabetes,0
97293,41,Female,White,Graduate,Middle,Employed,Never,3,76,8.8,...,55,123,146,96,146,9.02,5.97,24.4,Pre-Diabetes,0
97294,57,Female,Black,No formal,Upper-Middle,Employed,Former,4,121,9.9,...,50,111,184,93,132,2.57,5.21,27.6,No Diabetes,0
97295,47,Female,Black,Highschool,Lower-Middle,Retired,Never,3,52,5.9,...,68,91,116,106,117,9.81,5.53,26.4,Pre-Diabetes,0
97296,52,Female,White,Postgraduate,Middle,Employed,Never,1,248,2.7,...,31,183,87,91,142,15.93,5.73,27.9,Pre-Diabetes,0

In [6]:
y = diabetes_data_set['diagnosed_diabetes']
X = diabetes_data_set.copy()
X.drop(columns = ['diagnosed_diabetes'], inplace=True)
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.4,
    random_state=42
)
X_test, X_val, y_test, y_val = train_test_split(
    X_test,
    y_test,
    train_size=0.5,
    random_state=42
)
diabetes_data_set_train = pd.concat([X_train, y_train], axis=1)
diabetes_data_set_train

,Age,gender,ethnicity,education_level,income_level,employment_status,smoking_status,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,...,hdl_cholesterol,ldl_cholesterol,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diabetes_risk_score,diabetes_stage,diagnosed_diabetes
1114,52,Male,White,Graduate,Middle,Employed,Current,4,117,7.4,...,53,127,30,105,157,12.15,6.58,24.4,Type 2,1
36685,66,Female,White,Graduate,Lower-Middle,Retired,Never,0,114,6.6,...,59,81,126,100,165,6.94,6.68,28.7,Type 2,1
35104,25,Male,Black,Highschool,Low,Employed,Never,3,4,6.2,...,56,100,133,122,142,14.93,6.39,24.0,Pre-Diabetes,0
4905,44,Female,White,Highschool,Middle,Employed,Never,2,44,5.5,...,55,54,94,128,168,15.65,7.21,45.0,Type 2,1
20393,51,Male,White,Postgraduate,Middle,Employed,Never,3,182,4.1,...,57,80,112,104,137,6.19,6.37,23.8,Pre-Diabetes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,59,Male,White,No formal,High,Employed,Current,4,216,6.6,...,42,151,126,115,183,13.89,7.50,28.5,Type 2,1
54886,43,Male,Black,Graduate,Lower-Middle,Employed,Former,4,146,9.2,...,46,120,54,103,187,2.00,7.14,20.2,Type 2,1
76820,65,Male,White,Postgraduate,Middle,Employed,Never,6,40,8.7,...,50,175,165,111,140,12.16,5.99,30.8,Type 2,1
860,69,Female,Asian,Highschool,Middle,Employed,Former,1,100,6.8,...,51,113,129,142,183,2.00,7.08,29.2,Type 2,1
15795,68,Male,White,Graduate,Lower-Middle,Employed,Current,0,65,2.7,...,47,111,122,114,178,6.18,6.37,36.1,Pre-Diabetes,0

In [7]:
print(X_train.shape)
print(X_test.shape)
print(X_val.shape)

(58378, 30)
(19459, 30)
(19460, 30)

In [8]:
diabetes_data_set_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58378 entries, 1114 to 15795
Data columns (total 31 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Age                                 58378 non-null  int64
 1   gender                              58378 non-null  object
 2   ethnicity                           58378 non-null  object
 3   education_level                     58378 non-null  object
 4   income_level                        58378 non-null  object
 5   employment_status                   58378 non-null  object
 6   smoking_status                      58378 non-null  object
 7   alcohol_consumption_per_week        58378 non-null  int64
 8   physical_activity_minutes_per_week  58378 non-null  int64
 9   diet_score                          58378 non-null  float64
 10  sleep_hours_per_day                 58378 non-null  float64
 11  screen_time_hours_per_day           58378 non-null  float64
 12  family_history_diabetes             58378 non-null  int64
 13  hypertension_history                58378 non-null  int64
 14  cardiovascular_history              58378 non-null  int64
 15  bmi                                 58378 non-null  float64
 16  waist_to_hip_ratio                  58378 non-null  float64
 17  systolic_bp                         58378 non-null  int64
 18  diastolic_bp                        58378 non-null  int64
 19  heart_rate                          58378 non-null  int64
 20  cholesterol_total                   58378 non-null  int64
 21  hdl_cholesterol                     58378 non-null  int64
 22  ldl_cholesterol                     58378 non-null  int64
 23  triglycerides                       58378 non-null  int64
 24  glucose_fasting                     58378 non-null  int64
 25  glucose_postprandial                58378 non-null  int64
 26  insulin_level                       58378 non-null  float64
 27  hba1c                               58378 non-null  float64
 28  diabetes_risk_score                 58378 non-null  float64
 29  diabetes_stage                      58378 non-null  object
 30  diagnosed_diabetes                  58378 non-null  int64
dtypes: float64(8), int64(16), object(7)
memory usage: 14.3+ MB

In [9]:
diabetes_data_set_train.describe()

,Age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,family_history_diabetes,hypertension_history,cardiovascular_history,bmi,...,cholesterol_total,hdl_cholesterol,ldl_cholesterol,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diabetes_risk_score,diagnosed_diabetes
count,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,...,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000
mean,50.264175,2.004625,118.741290,5.991197,6.999282,5.989648,0.220220,0.251430,0.079139,25.621049,...,185.998201,54.034568,103.037840,121.571722,111.140190,160.053496,9.057076,6.521258,30.263044,0.599746
std,15.552249,1.420672,84.577371,1.785515,1.091744,2.468475,0.414398,0.433839,0.269959,3.579790,...,32.001383,10.272864,33.340917,43.330990,13.596805,30.927799,4.948079,0.814883,9.084864,0.489954
min,19.000000,0.000000,0.000000,0.000000,3.000000,0.500000,0.000000,0.000000,0.000000,15.000000,...,100.000000,20.000000,50.000000,30.000000,60.000000,70.000000,2.000000,4.000000,2.700000,0.000000
25%,38.000000,1.000000,56.000000,4.800000,6.300000,4.300000,0.000000,0.000000,0.000000,23.200000,...,164.000000,47.000000,78.000000,92.000000,102.000000,139.000000,5.090000,5.970000,23.800000,0.000000
50%,51.000000,2.000000,99.000000,6.000000,7.000000,6.000000,0.000000,0.000000,0.000000,25.600000,...,186.000000,54.000000,102.000000,121.000000,111.000000,160.000000,8.800000,6.520000,29.000000,1.000000
75%,61.000000,3.000000,160.000000,7.200000,7.700000,7.700000,0.000000,1.000000,0.000000,28.000000,...,208.000000,61.000000,126.000000,151.000000,120.000000,181.000000,12.440000,7.070000,35.700000,1.000000
max,90.000000,10.000000,833.000000,10.000000,10.000000,16.500000,1.000000,1.000000,1.000000,39.200000,...,318.000000,98.000000,247.000000,298.000000,172.000000,281.000000,30.760000,9.700000,66.100000,1.000000

In [11]:
numeric_cols = [col for col in diabetes_data_set_train.columns 
 if diabetes_data_set_train[col].dtype in ['int64', 'float64']]
numeric_cols

['Age',
 'alcohol_consumption_per_week',
 'physical_activity_minutes_per_week',
 'diet_score',
 'sleep_hours_per_day',
 'screen_time_hours_per_day',
 'family_history_diabetes',
 'hypertension_history',
 'cardiovascular_history',
 'bmi',
 'waist_to_hip_ratio',
 'systolic_bp',
 'diastolic_bp',
 'heart_rate',
 'cholesterol_total',
 'hdl_cholesterol',
 'ldl_cholesterol',
 'triglycerides',
 'glucose_fasting',
 'glucose_postprandial',
 'insulin_level',
 'hba1c',
 'diabetes_risk_score',
 'diagnosed_diabetes']

In [18]:
numeric_high_std_cols = [col for col in diabetes_data_set_train.columns
                        if diabetes_data_set_train[col].dtype in ['int64', 'float64'] 
                         and diabetes_data_set_train[col].std() > 1]
numeric_high_std_cols

['Age',
 'alcohol_consumption_per_week',
 'physical_activity_minutes_per_week',
 'diet_score',
 'sleep_hours_per_day',
 'screen_time_hours_per_day',
 'bmi',
 'systolic_bp',
 'diastolic_bp',
 'heart_rate',
 'cholesterol_total',
 'hdl_cholesterol',
 'ldl_cholesterol',
 'triglycerides',
 'glucose_fasting',
 'glucose_postprandial',
 'insulin_level',
 'diabetes_risk_score']

In [19]:
diabetes_data_set[numeric_high_std_cols].describe()
print(len(numeric_high_std_cols))

18

In [20]:
print(len(numeric_cols))

24

In [24]:
diabetes_data_set_train[[col for col in diabetes_data_set_train.columns 
if diabetes_data_set_train[col].dtype == 'object']].

gender  ethnicity  education_level  income_level  employment_status  smoking_status  diabetes_stage
Female  White      Highschool       Middle        Employed           Never           Type 2            445
Male    White      Highschool       Middle        Employed           Never           Type 2            433
Female  White      Graduate         Middle        Employed           Never           Type 2            345
Male    White      Graduate         Middle        Employed           Never           Type 2            339
                   Highschool       Lower-Middle  Employed           Never           Type 2            338
                                                                                                      ...
Female  Other      Highschool       Lower-Middle  Student            Current         Type 2              1
Male    Other      Postgraduate     Middle        Employed           Former          No Diabetes         1
Female  Black      No formal        Low           Retired            Current         Type 2              1
Male    Black      Graduate         Upper-Middle  Student            Former          Type 2              1
Other   White      Postgraduate     Upper-Middle  Unemployed         Never           Type 2              1
Name: count, Length: 5781, dtype: int64