In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import numpy as np

bmw_data_set = pd.read_csv('../../../../datasets/BMW sales data (2010-2024).csv')
bmw_data_set

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low
...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low

In [2]:
bmw_data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

In [3]:
bmw_data_set.describe()

               Year  Engine_Size_L     Mileage_KM      Price_USD  Sales_Volume
count  50000.000000   50000.000000   50000.000000   50000.000000  50000.000000
mean    2017.015700       3.247180  100307.203140   75034.600900   5067.514680
std        4.324459       1.009078   57941.509344   25998.248882   2856.767125
min     2010.000000       1.500000       3.000000   30000.000000    100.000000
25%     2013.000000       2.400000   50178.000000   52434.750000   2588.000000
50%     2017.000000       3.200000  100388.500000   75011.500000   5087.000000
75%     2021.000000       4.100000  150630.250000   97628.250000   7537.250000
max     2024.000000       5.000000  199996.000000  119998.000000   9999.000000

In [4]:
min_max_scaler = MinMaxScaler()
mileage_km_min_max_scale = min_max_scaler.fit_transform(bmw_data_set['Mileage_KM'].to_numpy().reshape(-1, 1))
mileage_km_min_max_scale

array([[0.75875156],
       [0.60836129],
       [0.05494192],
       ...,
       [0.87471061],
       [0.01688059],
       [0.85502993]])

In [5]:
mileage_km_min_max_scale.shape

(50000, 1)

In [6]:
mileage_km_min_max_scale_df = pd.DataFrame(mileage_km_min_max_scale, columns=['Mileage_KM_min_max_scale'])
mileage_km_min_max_scale_df

       Mileage_KM_min_max_scale
0                      0.758752
1                      0.608361
2                      0.054942
3                      0.136265
4                      0.610661
...                         ...
49995                  0.755161
49996                  0.736991
49997                  0.874711
49998                  0.016881
49999                  0.855030

[50000 rows x 1 columns]

In [7]:
bmw_data_set = pd.concat([bmw_data_set, mileage_km_min_max_scale_df], axis=1)
bmw_data_set

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Mileage_KM_min_max_scale
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,0.758752
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,0.608361
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,0.054942
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,0.136265
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,0.610661
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High,0.755161
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High,0.736991
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High,0.874711
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High,0.016881
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low,0.855030

In [8]:
bmw_data_set.Mileage_KM_min_max_scale.describe()

count    50000.000000
mean         0.501539
std          0.289718
min          0.000000
25%          0.250884
50%          0.501945
75%          0.753163
max          1.000000
Name: Mileage_KM_min_max_scale, dtype: float64

In [14]:
standard_scaler = StandardScaler()
mileage_km_standard_scale = standard_scaler.fit_transform(bmw_data_set['Mileage_KM'].to_numpy().reshape(-1,1))
mileage_km_standard_scale

array([[ 0.88781448],
       [ 0.36871684],
       [-1.54150448],
       ...,
       [ 1.28806695],
       [-1.67287966],
       [ 1.2201357 ]])

In [10]:
mileage_km_standard_scale_df = pd.DataFrame(mileage_km_standard_scale, columns=['Mileage_KM_standard_scale'])
mileage_km_standard_scale_df

       Mileage_KM_standard_scale
0                       0.887814
1                       0.368717
2                      -1.541504
3                      -1.260805
4                       0.376656
...                          ...
49995                   0.875423
49996                   0.812704
49997                   1.288067
49998                  -1.672880
49999                   1.220136

[50000 rows x 1 columns]

In [11]:
bmw_data_set = pd.concat([bmw_data_set, mileage_km_standard_scale_df], axis=1)
bmw_data_set

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Mileage_KM_min_max_scale,Mileage_KM_standard_scale
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,0.758752,0.887814
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,0.608361,0.368717
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,0.054942,-1.541504
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,0.136265,-1.260805
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,0.610661,0.376656
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High,0.755161,0.875423
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High,0.736991,0.812704
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High,0.874711,1.288067
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High,0.016881,-1.672880
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low,0.855030,1.220136

In [12]:
bmw_data_set.Mileage_KM_standard_scale.describe()

count    5.000000e+04
mean     3.730349e-17
std      1.000010e+00
min     -1.731146e+00
25%     -8.651777e-01
50%      1.403099e-03
75%      8.685233e-01
max      1.720525e+00
Name: Mileage_KM_standard_scale, dtype: float64